.bt {
	border-top-width: 1px;
}
.br {
	border-right-width: 1px;
}
.bb {
	border-bottom-width: 1px;
}
.bl {
	border-left-width: 1px;
}
.warning {
    background-color: #DDDDDD;
}
.header-anchor {
	display: none;
}

a {
	text-decoration: none;
}

html {
	height: 100%;
}

body {
	height: 100%;
}

#app {
	height: 100%;
}

.App {
	height: 100%;
}

.App {
	display: flex;
	flex-direction: column;
}

.App > * {
	flex-grow: 1;
}

.App > .Footer,
.App > .Navbar {
	flex-grow: 0;
}

body, html {

}
